<div class="form-item" (click)="toggleExpand()">
  <strong>
    <label for="checkbox-site">{{data.question.label}}<br>
      <div class="helpText" *ngIf="data.question.help">({{data.question.help}})</div>
    </label>
  </strong>
  <div id="checkbox-site" *ngIf="data.question.expanded">
    <div *ngFor="let answer of data.question.answer">
      <input type="checkbox" name="answer" value="">
      <label class="option" for=" ">{{answer.label}}<br> <i>{{answer.help}}</i></label>
    </div>
    <navigation-container [question]="data"></navigation-container>
  </div>
</div>
