<div *ngIf="data.show">
  <div class="form-item">
    <div class="row">
      <div class="firstColumn">
        <strong>
          <label for="text-site">{{data.label}}<br>
            <div class="helpText" *ngIf="data.help">({{data.help}})</div>
          </label>
        </strong>
      </div>
      <div class="secondColumn" (click)="toggleExpand()">
        <ng-template [ngIf]="!data.value&&!data.expanded">
          <img src="../../assets/images/lock.png" width="50"/>
        </ng-template>
        <ng-template [ngIf]="data.expanded"> -</ng-template>
        <ng-template [ngIf]="data.value&&!data.expanded"> +</ng-template>
      </div>
    </div>
    <div *ngIf="data.expanded" id="text-site">
      <input type="text" value="{{data.answer[0].value}}"><br>
      <div class="helpText">{{data.answer[0].help}}</div>
      <div *ngIf="enableNavigation">
        <navigation-container [questions]="nextQuestions"></navigation-container>
      </div>
    </div>
  </div>

  <div *ngFor="let answer of data.answer">
    <div *ngIf="answer.question">
      <display-questions [questions]="answer.question"></display-questions>
    </div>
  </div>
</div>
