 <h1>{{title}}</h1>
 <ul class="nav nav-tabs">
 	<li class="nav-item">
   <a class="nav-link" routerLink="instructions" routerLinkActive="active"><b>Instructions</b></a>
   </li>
 	<li class="nav-item">
   <a class="nav-link" routerLink="input" routerLinkActive="active"><b>Data Input</b></a>
   </li>
 	<li class="nav-item">
   <a class="nav-link" routerLink="results" routerLinkActive="active"><b>Results</b></a>
   </li>
 </ul>
 <div style="border: 1px solid #545654;padding:8px;margin:10px;background:#E7F5E7;box-shadow: 8px 8px 3px grey;">
 <div style="border: 1px solid #545654;background:white;">
 <div style="margin:10px;">
 <router-outlet></router-outlet>
 </div>
 </div>
 </div>