<!--googleon: all-->
<h1 class="page-title">Geophysical Decision Support System (GDSS)</h1>
<div class="panel-pane pane-node-content">
  <div class="pane-content">
    <div class="node node-page clearfix view-mode-full">
      <div class="row" style="margin-left:10%;">
        <div class="nav-item" style="width:33%;">
          <a class="nav-link" routerLink="instructions" routerLinkActive="active"><b>Instructions</b></a><hr style="width:66%;margin:15% 0px">
        </div>
        <div class="nav-item" style="width:33%">
          <a class="nav-link" routerLink="input" routerLinkActive="active"><b>Data Input</b></a><hr style="width:66%;margin:15% 0px">
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="results" routerLinkActive="active"><b>Results</b></a>
        </div>
      </div>
      <p style="margin-top: 20px;">
        <router-outlet></router-outlet>
      </p>
    </div>
  </div>
</div>

