<!--googleon: all-->
<h1 class="page-title">Geophysical Decision Support System (GDSS)</h1>
<div class="panel-pane pane-node-content">
  <div class="pane-content">
    <div class="node node-page clearfix view-mode-full">
      <div class="row">
        <div class="nav-item">
          <a class="nav-link" routerLink="instructions" routerLinkActive="active"><b>Instructions</b></a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="input" routerLinkActive="active"><b>Data Input</b></a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="results" routerLinkActive="active"><b>Results</b></a>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

