
li {
  list-style: none;
}
.helpText {
  font-style: italic;
  font-size:12px;
  text-indent: 30px;
}
.form-item {
  background: #F8F8F8;
  margin:5px 0px;
  padding:10px;
}
.firstColumn {
  float:left;
  width:92%;
}
.secondColumn {
  width:5%;
  float:right;
}

.row {
  width:100%;
  padding-left:20px;
  display:table;
}
.row:before {
  content:" "
}
.row:after {
  clear:both;
}

.nav-button {
  margin-top: -23px;
  float: right;
  padding-right: 15px;
}
div.inline div {
  float:left;
}
div.inline:after {
  clear:both;
}
.flipLetter {
  /* Rotate div */
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  padding: 0px 7px 0px 0px;
}

div.secondColumn img {
  width:18px;
}

.arrow::after {
   content:"\21B5";
  display: inline-block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  vertical-align: top;
  float:left;
}
.arrow + radio-component {
  display: inline-block;
  width: 98%;
}
.padLeft10 {
  padding-left:10px;
}
